<?xml version="1.0"?>
<odoo>
    <data>
        <template id="assets_frontend" inherit_id="website.assets_frontend" name="Website Dell">
            <xpath expr=".">
                <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
                      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
                      crossorigin="anonymous"/>
                <link rel="stylesheet" type="text/scss" href="/website_dell/static/src/scss/user_custom_css.scss"/>
<!--                <link rel="stylesheet" type="text/scss" href="/website_dell/static/src/scss/theme-ac7d83.css"/>-->
                <link rel="stylesheet" type="text/scss" href="/website_dell/static/src/scss/slick.css"/>
                <link rel="stylesheet" type="text/scss" href="/website_dell/static/src/scss/slick-theme.css"/>
                <link rel="stylesheet" type="text/scss" href="/website_dell/static/src/scss/font-awesome.min.css"/>
                <link rel="stylesheet" type="text/scss" href="/website_dell/static/src/scss/fontawsom-all.min.css"/>
                <script type="text/javascript" src="/website_dell/static/src/js/user_custom_js.js"/>
                <script type="text/javascript" src="/website_dell/static/src/js/slick.min.js"/>
<!--                <script type="text/javascript" src="/website_dell/static/src/js/bottom-1ad600.js"/>-->
                <script src="/website_dell/static/src/js/sdk.js" async="" crossorigin="anonymous"></script>
                <script type="text/javascript" src="/website_dell/static/src/js/website_sale_attribute_filter_category_tour.js"/>
                <link type="text/css" rel="stylesheet" href="/website_dell/static/src/scss/website_sale_attribute_filter_category.scss"/>
            </xpath>
        </template>
        <!--        <template id="assets_frontend" inherit_id="web.assets_frontend" name="Website Assets">-->
        <!--            <xpath expr="//link[last()]" position="inside">-->
        <!--                <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>-->
        <!--                <link rel="stylesheet" type="text/scss" href="/website_dell/static/src/scss/user_custom_css.scss"/>-->
        <!--                <script type="text/javascript" src="/website_dell/static/src/js/user_custom_js.js"/>-->
        <!--            </xpath>-->
        <!--             <xpath expr="//script[last()]" position="inside">-->

        <!--                <script src="/website_dell/static/src/js/sdk.js" async="" crossorigin="anonymous"></script>-->
        <!--                <script type="text/javascript" src="/website_dell/static/src/js/sdk(1).js"/>-->
        <!--                <script type="text/javascript" async="" src="/website_dell/static/src/js/fb.js"></script>-->
        <!--                <script type="text/javascript" async="" src="/website_dell/static/src/js/bottom-fd60bf.js"></script>-->
        <!--                    <script type="text/javascript">-->
        <!--                        var a = document.getElementsByClassName('tablinks');-->
        <!--                        var contents = document.getElementsByClassName('tab-pane');-->

        <!--                        function showContent(id){-->
        <!--                            for (var i = 0; i &lt; contents.length; i++) {-->
        <!--                                contents[i].css("display","none");-->
        <!--                            }-->
        <!--                            var content = document.getElementById(id);-->
        <!--                            content.css("display","block");-->
        <!--                        }-->
        <!--                        for (var i = 0; i &lt; a.length; i++) {-->
        <!--                            a[i].addEventListener("click", function(){-->
        <!--                                var id = this.textContent;-->
        <!--                                for (var i = 0; i &lt; buttons.length; i++) {-->
        <!--                                    a[i].classList.remove("active");-->
        <!--                                }-->
        <!--                                this.className += " active";-->
        <!--                                showContent(id);-->
        <!--                            });-->
        <!--                        }-->
        <!--                        console.log(showContent('description'));-->
        <!--                        showContent('description');-->
        <!--                    </script>-->
        <!--             </xpath>-->
        <!--        </template>-->
        <template id="top_menu_inherit" inherit_id="website.layout" name="Fixed main menu">
            <xpath expr="//header" position="after">
                <header id="header" class="header_v1">
                    <div class="header_content layout12">
                        <div class="mobile_logo">
                            <div class="container">
                                <div class="" id="_mobile_logo">
                                    <a href="/">
                                        <img class="logo img-responsive" t-attf-src="data:image/*;base64,{{website.logo}}" alt="Digital 17"/>
                                    </a>
                                </div>
                                <div class="_desktop_contact_link">
                                    <div>
                                        <div class="contact_link_item">
                                            <span class="icon_svg">
                                                <i class="fa fa-volume-control-phone"
                                                   style="font-size: 40px; color: #F9B002; transform: rotate(-45deg) !important;"></i>
                                            </span>
                                            <a href="tel:0123456789" style="color: #F9B002;">
                                                <b>Liên hệ ngay</b>
                                                <br/>0943-811-966
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header-top  layout2 ">
                            <div class="container">
                                <div class="row">
                                    <div class="hidden-sm-down" id="_desktop_logo">
                                        <a href="/">
                                            <img class="logo img-responsive"
                                                 t-attf-src="data:image/*;base64,{{website.logo}}" alt="Digital 17"
                                                 style="width:191px; height: 49px"/>
                                        </a>
                                    </div>
                                    <ul class="ybc-widget-ybc-custom-4">
                                        <li class="ybc-widget-item col-xs-4">
                                            <i class="fa fa-tags"></i>
                                            <div class="ybc-widget-description">
                                                <p>100% Hàng chính <br/>hãng
                                                </p>
                                            </div>
                                        </li>
                                        <li class="ybc-widget-item col-xs-4">
                                            <i class="fa fa-wrench"></i>
                                            <div class="ybc-widget-description">
                                                <p>Bảo hành
                                                    <br/>
                                                    uy tín
                                                </p>
                                            </div>
                                        </li>
                                        <li class="ybc-widget-item col-xs-4">
                                            <i class="fa fa-truck"></i>
                                            <div class="ybc-widget-description">
                                                <p>Miễn phí ship
                                                    <br/>
                                                    Dưới 50km
                                                </p>
                                            </div>
                                        </li>
                                    </ul>


                                    <div class="_desktop_contact_link">
                                        <div>
                                            <div class="contact_link_item">
                                                <span class="icon_svg">
                                                    <i class="fa fa-volume-control-phone"
                                                       style="font-size: 40px; color: #F9B002; transform: rotate(-45deg);"></i>
                                                </span>
                                                <a href="tel:0123456789" style="color: #F9B002;">
                                                    <b>Liên hệ ngay</b>
                                                    <br/>0943-811-966
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu_and_cattree">
                                <div class="menu_cat_content">
                                    <div class="container">
                                        <div class="pull-xs-left hidden-md-up text-xs-center mobile closed layout1_none"
                                             id="menu-icon">
                                            <i class="material-icons d-inline menu">menu</i>
                                        </div>
                                        <div class="LayoutHome1">
                                            <div class="custom_menu ">
                                                <div class="ybc-menu-skin-custom-cate ybc-menu-slide menu_cate">
                                                    <div class="ybc-menu-toggle ybc-menu-btn allway_show">
                                                        <div class="ybc-menu-button-toggle">
                                                            <span>Danh mục sản phẩm
                                                                <span class="ybc-menu-button-toggle_icon">
                                                                    <i class="icon-bar"></i>
                                                                    <i class="icon-bar"></i>
                                                                    <i class="icon-bar"></i>
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="ets_mm_megamenu ets_animated layout_layout5 skin_custom transition_fadeInUp transition_floating sticky_enabled enable_active_menu ets-dir-ltr hook-custom single_layout">
                                                        <div class="ets_mm_megamenu_content">
                                                            <div class="container">
                                                                <ul class="mm_menus_ul">
                                                                    <li class="close_menu">
                                                                        <div class="pull-left">
                                                                            <span class="mm_menus_back">
                                                                                <i class="icon-bar"></i>
                                                                                <i class="icon-bar"></i>
                                                                                <i class="icon-bar"></i>
                                                                            </span>
                                                                            Menu
                                                                        </div>
                                                                        <div class="pull-right">
                                                                            <span class="mm_menus_back_icon"></span>
                                                                            Back
                                                                        </div>
                                                                    </li>
                                                                    <t t-foreach="cates" t-as="cate">
                                                                        <li class="item_lv1 mm_menus_li television mm_sub_align_full mm_has_sub">
                                                                            <a href="#">
                                                                                <img t-attf-src="data:image/*;base64,{{cate.image_128}}"
                                                                                     width="10%" height="auto"/>
                                                                                <span class="item_content">
                                                                                    <t t-esc="cate.name"/>
                                                                                </span>
                                                                            </a>
                                                                            <span class="arrow closed"></span>
                                                                            <ul class="mm_columns_ul"
                                                                                style="width:100%;">
                                                                                <t t-foreach="cate.child_id" t-as="cat">
                                                                                    <li class="mm_columns_li column_size_3  mm_has_sub">
                                                                                        <ul class="mm_blocks_ul">
                                                                                            <li data-id-block="7"
                                                                                                class="mm_blocks_li">

                                                                                                <div class="ets_mm_block mm_block_type_category ">
                                                                                                    <h4>
                                                                                                        <t t-esc="cat.name"/>
                                                                                                    </h4>
                                                                                                    <div class="ets_mm_block_content">
                                                                                                        <ul class="ets_mm_categories">
                                                                                                            <li>
                                                                                                                <a href="#">
                                                                                                                    <img t-attf-src="data:image/*;base64,{{cat.image_128}}"
                                                                                                                         width="50%"
                                                                                                                         height="auto"/>
                                                                                                                </a>
                                                                                                            </li>
                                                                                                        </ul>
                                                                                                    </div>
                                                                                                </div>

                                                                                            </li>
                                                                                        </ul>
                                                                                    </li>
                                                                                </t>
                                                                            </ul>

                                                                        </li>
                                                                    </t>
                                                                    <li class="item_lv1 mm_menus_li view_less_menu not_show mm_sub_align_full ">
                                                                        <a href="#">
                                                                            <span class="item_content">View less
                                                                                categories
                                                                            </span>
                                                                        </a>

                                                                    </li>
                                                                </ul>

                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- Block search module TOP -->
                                                <div id="search_widget"
                                                     class="search-widget col-lg-4 col-md-5 col-sm-12">
                                                    <span class="search_icon_toogle">
                                                        <i class="material-icons-search"></i>
                                                    </span>
                                                    <form t-att-action="action if action else '/shop'" method="get"
                                                          class="o_wsale_products_searchbar_form o_wait_lazy_js #{_classes}">
                                                        <input type="text" name="search"
                                                               placeholder="Tìm kiếm ..."
                                                               class="ui-autocomplete-input"
                                                               autocomplete="off"
                                                               t-att-value="search"/>
                                                        <input name="order" type="hidden"
                                                               class="o_wsale_search_order_by" value=""/>
                                                        <button type="submit" class="">
                                                            <i class="fa fa-search"></i>
                                                        </button>
                                                    </form>
                                                </div>
                                                <!-- /Block search module TOP -->
                                                <div id="_desktop_cart"
                                                     data-refresh-url="//ets-demos.com/theme/digital17/en/module/ps_shoppingcart/ajax">
                                                    <div class="blockcart cart-preview inactive"
                                                         data-refresh-url="//ets-demos.com/theme/digital17/en/module/ps_shoppingcart/ajax">
                                                        <a t-attf-class="show_qties" rel="nofollow"
                                                           href="/shop/cart">
                                                            <span class="hidden-sm-down checkout_title">Giỏ hàng của tôi
                                                            </span>
<!--                                                            <span class="checkout_total">$0.00</span>-->
                                                            <span class="cart-products-count"><sup t-attf-class="my_cart_quantity badge shopping_cart_dell" t-esc="website_sale_order and website_sale_order.cart_quantity or ''"
                                                                             t-att-data-order-id="website_sale_order and website_sale_order.id or ''"/></span>
                                                        </a>
                                                        <!-- begin -->
                                                        <div class="body cart-hover-content">
                                                            <ul>
                                                            </ul>
                                                            <div class="cart-subtotals">
                                                                <div class="products">
                                                                    <span class="label">Subtotal</span>
                                                                    <span class="value">$0.00</span>
                                                                </div>
                                                                <div class="">
                                                                    <span class="label"></span>
                                                                    <span class="value"></span>
                                                                </div>
                                                                <div class="shipping">
                                                                    <span class="label">Shipping</span>
                                                                    <span class="value">Free</span>
                                                                </div>
                                                                <div class="tax">
                                                                    <span class="label">Taxes</span>
                                                                    <span class="value">$0.00</span>
                                                                </div>
                                                            </div>
                                                            <div class="cart-total">
                                                                <span class="label">Total</span>
                                                                <span class="value">$0.00</span>
                                                            </div>
                                                            <div class="cart-wishlist-action">

                                                                <a class="cart-wishlist-checkout"
                                                                   href="#">
                                                                    Check
                                                                    Out
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <!-- end -->
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </header>
            </xpath>
        </template>
        <template id="layout_logo_show" inherit_id="website.layout" name="Show Logo">
            <xpath expr="//header//a[hasclass('navbar-brand')]" position="replace">

            </xpath>
        </template>
        <template id="search_inherit_dell" inherit_id="website.website_search_box" name="Search product">
            <xpath expr="//div[@role='search']" position="attributes">
                <attribute name="id">none</attribute>
            </xpath>
        </template>
        <template id="language_selector_dell" inherit_id="website.language_selector" name="Footer inherit">
            <xpath expr="//ul[hasclass('js_language_selector')]" position="replace">
<!--                <t t-call="website.language_selector"/>-->
            </xpath>
        </template>
<!--        <template id="layout_FC" inherit_id="website.layout_footer_copyright">-->
<!--            <xpath expr="//div[@t-ignore='true']" position="replace">-->
<!--            </xpath>-->
<!--        </template>-->
    </data>
</odoo>
        <!--<data inherit_id="website.layout" name="Fixed Top Menu">-->
        <!--    <xpath expr="//header" position="attributes">-->
        <!--        <attribute name="t-attf-class" add="#{'o_affix_enabled'}" separator=" "/>-->
        <!--    </xpath>-->
        <!--</data>-->
